#content-area::after {
    background-image: url(../img/taylors.jpeg);
}

#content-area {
    flex-direction: column;
    justify-content: flex-start;
}

.patients {
    border-collapse: collapse;
    font-size: 0.9rem;
}

.patients td, .patients th {
    padding: 4px 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.message {
    opacity: 0.8;
}

.d-none {
    display: none !important;
}

.buttons * {
    display: inline-block;
}

.buttons .button, .confirm span {
    text-decoration: none;
    color: #222;
    opacity: 0.7;
    cursor: pointer;
}

.button:hover, .confirm span:hover {
    opacity: 1;
}