@import url('nav.css');

:root {
    --primary: #ffacff;
    --accent: #ff81ff;
}

body {
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    background: linear-gradient(to top, #87ceeb, var(--primary));
}

body p {
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper {
    width: 1148px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#content-area {
    margin: 0 auto 20px auto;
    padding: 10px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 500px;
}

#content-area * {
    z-index: 1;
}

#content-area::after {
    background-repeat: no-repeat;
    background-image: url(../img/women-clinic.jpeg);
    opacity: 0.2;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    right: 23px;
    box-shadow: 0 0 50px 50px white inset;
    background-size: contain;
}

footer {
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #e3e3e3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../img/ubar.jpeg);
}

#navigation {
    height: 60px;
    border: 3px solid #e3e3e3;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../img/ubar.jpeg);
}

.imgLeft {
    float: left;
    width: 240px;
    height: 150px;
    margin: 0 10px 10px 0;
    padding: 10px;
}

.imgRight {
    float: right;
    width: 200px;
    height: 250px;
    margin: 0 0 10px 10px;
    padding: 10px;
}

form td {
    vertical-align: top;
    padding-right: 15px;
}

form td:first-child {
    font-weight: bold;
}

.error {
    color: red;
    margin-bottom: 8px;
    margin-top: -2px;
    font-size: 90%;
}

.error ul {
    margin: 0;
    padding-left: 16px;
}

input:not([type=submit]), textarea {
    padding: 5px;
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    float: right;
    font-weight: bold;
    background: pink;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid maroon;
    color: #222;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #000;
}